# Blockchain Configuration
BLOCKCHAIN_RPC_URL="http://127.0.0.1:7545" # Стандартный адрес для Ganache
CONTRACT_ADDRESS="0x..." # Сюда Лиза потом вставит адрес контракта (НЕ НАДО даже в example! только в .env локально)
